#####################################################################
#      Includes
#####################################################################

[include Varia/*.cfg]
[include KlickyProbe/*.cfg]
[include EnragedRabbitProject/*.cfg]
[include Macros/*.cfg]

#####################################################################
#	Resonance Testing
#####################################################################

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None
#axes_map: x,z,y

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150,150,60

[input_shaper]
shaper_freq_x: 31.2
shaper_type_x: zv
shaper_freq_y: 31.2
shaper_type_y: zv

#####################################################################
#     MCU - Printer Settings
#####################################################################

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 450 
max_accel: 3600
max_accel_to_decel: 3600
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 8

#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: X_Step
dir_pin: X_DIR
enable_pin: !X_EN
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ^X_MAX
position_min: 0
position_endstop: 297
position_max: 297
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: Y_Step
dir_pin: Y_DIR
enable_pin: !Y_EN
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ^Y_MAX
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: Z_Step
dir_pin: Z_DIR
enable_pin: !Z_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
##  In Z- Position
endstop_pin: ^Z_MIN
#position_endstop: -0.5
position_max: 280
position_min: -10
homing_speed: 15
second_homing_speed: 4
homing_retract_dist: 0.35
homing_positive_dir: false

##	In E1-MOT Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: E1_Step
dir_pin: !E1_DIR
enable_pin: !E1_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	In E2-MOT Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: E2_Step
dir_pin: E2_DIR
enable_pin: !E2_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	In E3-MOT Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: E3_Step
dir_pin: !E3_DIR
enable_pin: !E3_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: E0_Step
dir_pin: !E0_DIR
enable_pin: !E0_EN
rotation_distance: 22.6789511
gear_ratio: 50:17
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 200
max_extrude_cross_section: 50.0
##      In E0 OUT Position
heater_pin: HE_E0
sensor_type: ATC Semitec 104GT-2
sensor_pin: THERM0
min_temp: -200
max_temp: 300
max_power: 1.0
min_extrude_temp: 0
pressure_advance: 0.0
#pressure_advance_smooth_time: 0.040

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: HE_BED
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: THERM3
max_power: 0.6
min_temp: 0
max_temp: 120

[verify_heater heater_bed]
max_error: 120
check_gain_time: 90
hysteresis: 5
heating_gain: 2

#####################################################################
#	Enclosure/MCU Temp Sensor Section
#####################################################################

[thermistor chamber]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor RPI]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor Chamber]
sensor_type: chamber
sensor_pin: THERM1
min_temp: 0
max_temp: 100
gcode_id: chamber

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: HE_E1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 80.0
fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: HE_E2
#max_power: 1.0
kick_start_time: 0.5
off_below: 0.05
cycle_time: 0.05

[controller_fan controller_fan]
#	Controller fan - LED-R
pin: FAN3
#max_power: 0.4
#shutdown_speed: 0.0
cycle_time: 0.01
kick_start_time: 1
fan_speed: 0.5
idle_timeout: 0
heater: heater_bed, extruder

[fan_generic nevermore_fan]
## Nevermore Micro Duo
pin: FAN0
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 60.0

#####################################################################
#	LED Control
#####################################################################

[neopixel caselight]
pin: LED_DATA
chain_count: 54
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
color_order: GRB

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################
[probe]
pin: ^Z_MAX # input pin for the mag-probe
x_offset: 0
y_offset: 21.0
z_offset: 6.42
speed: 5.0 #4.0
lift_speed: 10.0
samples: 3 #5
samples_result: median
sample_retract_dist: 0.5 #1.5
samples_tolerance: 0.05 #0.007
samples_tolerance_retries: 3 #10

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,225
	250,225
	250,25
speed: 450
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 450
horizontal_move_z: 8
mesh_min: 40, 40
mesh_max: 260,260
fade_start: 0.26
fade_end: 2
probe_count: 5,5
algorithm: bicubic
relative_reference_index: 12
split_delta_z: 0.01

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.239
#*# pid_ki = 1.640
#*# pid_kd = 148.776
#*#
#*# [stepper_z]
#*# position_endstop = 0.500
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 35.822
#*# pid_ki = 1.264
#*# pid_kd = 253.889
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.045000, 0.040000, 0.032500, 0.022500, 0.005000
#*# 	  0.030000, 0.015000, 0.007500, -0.005000, -0.012500
#*# 	  0.020000, 0.007500, 0.000000, -0.007500, -0.017500
#*# 	  0.005000, -0.002500, -0.010000, -0.020000, -0.022500
#*# 	  0.007500, 0.012500, -0.000000, -0.015000, -0.010000
#*# tension = 0.2
#*# min_x = 114.35
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 119.25
#*# x_count = 5
#*# max_y = 188.65
#*# mesh_x_pps = 2
#*# max_x = 197.63
